.nav-wrap{
  height: 0.88rem;
}
.nav-area{
  margin-top:0.22rem;
  height: 0.24rem;
  overflow: hidden;
  .nav-font{
    line-height: 0.3rem;
    font-size: 0.3rem;
    color: #2A2A2e;
    margin-right: 0.6rem;
    border:0.02rem solid red;
    width: 1.4rem
  }
}
.space-carousel {
  width:8rem;
  margin-top:0.28rem;
  overflow: hidden;
  height: 9.8rem !important;
  .slider-frame{
    height: 100% !important;
  }
  ul{
    //height: auto !important;
  }
}
.list-item{
  display: block;
  position: relative;
  border-radius: 0.2rem;
  .list-top{
    position:relative;
    height: 1.9rem;
    background-color: pink;
    background: url('https://web.bldimg.com/cblued/static/合并形状@2x.1crjvqqkpnpbo1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: 1.9rem;
    .list-top-info-font{
      position:absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 5.4rem;
      line-height: 0.32rem;
      font-size: 0.24rem;
      font-family: PingFangSC-Regular, sans-serif;
      color: #FFFFFF;
      text-align: left
    }
  }
  .selected-padding{
    padding-top: 1rem;
  }
  .notSelected-padding{
    padding-top: 0.5rem;
  }
  &.notSelected .list-bottom{
    height: 6.8rem;
  }
  .list-bottom{
    // border:0.02rem solid #ccc;
    // box-shadow: -0.1rem 0.26rem 0.2rem rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.2)0px 0.18rem 0.5rem;
    border-bottom-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    height: 7.3rem;
    .list-bottom-img-wrap{
      width: 4.5rem;
      //height: 6.3rem;
      margin: 0 auto;
    }
    .list-bottom-img{
      display:block;
      width: 4.5rem;
      height: 100%;
      //height: 6.3rem;
    }
    .list-bottom-font{
      margin:20px 20px 0 20px;
      height: 75px;
      font-size:0.24rem;
      color: #A5A6B2;
      line-height: 0.32rem;
    }
    .list-botton-font-display {
      display: none;
    }
    .list-bottom-img::after {
      display: block;
      content:'777';
      color:'red';
      font-size: 15px;
    }
    .list-bottom-font-wrap{
      width:540px;
      height: 300px;
    }
  }
}
.selected{
  //height: 9.4rem !important;
}
.app-version{
  position: fixed;
  width: 100%;
  left: 50%;
  bottom: 1.2rem;
  transform: translateX(-50%);
  text-align: center;
  color:#A5A6B2;
}
.app-button{
  position: fixed;
  left: 50%;
  bottom: 0.2rem;
  transform: translateX(-50%);
  width: 90%;
  height: 0.82rem;
  margin: 0 auto;
  border-radius: 0.41rem;
  background-color: #F1BE5A;
  .app-btn-font{
    font-size: 0.32rem;
    font-family: PingFangSC-Medium, sans-serif;
    color: #815100;
    line-height: 0.82rem;
    text-align: center
  }
}

.am-tabs-default-bar-top .am-tabs-default-bar-prevpage, .am-tabs-default-bar-bottom .am-tabs-default-bar-prevpage{
  background: none !important
}
.am-tabs-default-bar-top .am-tabs-default-bar-nextpage, .am-tabs-default-bar-bottom .am-tabs-default-bar-nextpage{
  background: none !important
}
html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
  background-color: #fff;
}
.am-tabs-default-bar-underline{
  width: 0.5rem !important; 
  height:0.08rem !important;
  border-radius:0.04rem !important;
  //margin-left:0.6rem !important;
  margin-left:0.8rem !important;
  text-align: center !important;
  color:#F1BE5A !important;
  background-color:#F1BE5A !important;
  border:0.02rem solid #F1BE5A !important
}

.am-tabs-default-bar-tab{
  color: #2A2A2e !important;
  font-size: .3rem !important;

}
.am-tabs-default-bar-tab-active{
  color: #F1BE5A !important;
  font-size: .32rem !important;
  font-weight: bold !important;
}
html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
  height: 0PX !important;
}
