<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
  <style media="screen">
  .msg {
    padding-top: 36px;
    text-align: center;
  }
  .msg .icon-area {
    margin-bottom: 30px;
  }
  .msg .text-area {
    margin-bottom: 25px;
    padding: 0 20px;
  }
  .msg .msg-title {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
  }
  .msg .msg-desc {
    font-size: 14px;
    color: #888;
  }

  .msg .icon {
    width: 100px;
  }
  </style>
</head>

<body>
  <div class="msg">
    <div class="icon-area">
      <img class="icon" src="https://web.bldimg.com/cblued/static/icon.1d1astmvf1m28en.png" />
    </div>
    <div class="text-area">
      <h3 class="msg-title">{{title}}</h3>
    </div>
  </div>
</body>
</html>
