body{
  background-color: transparent;
}
html{
  background-color: transparent;
}

.pk-activity-wrap{
  background-color: transparent;
 .pk-activity-head{
   position: relative;
   background-color: transparent;
   height: 1.8rem;
 }
 .pk-activity-content{
   position: relative;
   background-color:pink;
   height: 6.8rem;
 }
}
.test-pk{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}