.deadline-warp{
  margin:0 0.36rem 0 0.36rem;
  .deadline-hide{
    display: none;
  }
  .deadline-item-bottom-privilege-item-font{
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 0.24rem;
    color: rgba(42,42,46,1);
  }
  .deadline-item{
    width: 6.8rem;
    margin:0.4rem 0 0.3rem 0;
    .deadline-item-top{
      height: 0.9rem;
      border-top-left-radius: 0.2rem !important;
      border-top-right-radius: 0.2rem !important;
      background: -webkit-linear-gradient(to right,#c38A31, #F1c671); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(to right,#c38A31, #F1c671); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(to right,#c38A31, #F1c671); /* Firefox 3.6 - 15 */
      background: linear-gradient(to right,#c38A31, #F1c671); /* 标准的语法 */
      .deadline-item-top-time{
        font-size: 0.28rem;
        color: #fff;
        line-height: 0.9rem;
        text-align: center;
        font-family: PingFangSC-Medium, sans-serif;
      }
    }
    .deadline-item-bottom{
      // border: 0.02rem solid #e6eaed;
      // box-shadow: -0.1rem 0.26rem 0.2rem rgba(0, 0, 0, 0.1);

      box-shadow: rgba(0, 0, 0, 0.2)0px 0.18rem 0.5rem;

      .deadline-item-bottom-item{
        height: 1.4rem;
        padding: 0.26rem 0 0 0.3rem;
        border-bottom: 0.02rem dashed #e6eaed;
        .deadline-item-bottom-item-icon{
          height: 0.24rem;
          .deadline-item-bottom-item-img{
            height: 0.24rem;
          }
        }
        .clearfix:after{
          content: "020"; 
          display: block; 
          height: 0; 
          clear: both; 
          visibility: hidden;  
          }
        
        .clearfix {
          zoom: 1; 
          }
        .deadline-item-bottom-item-process{
          margin-top: 0.24rem;
          height: 100%;
          .deadline-item-bottom-item-shape{
            max-width: 73%;
            float: left;
            margin-right: 0.3rem;
            height: 0.12rem;
            border: 0.02rem solid #F1c671;
            background-color: #F1c671;
            border-radius: 0.2rem
          }
        }
        .deadline-item-bottom-item-date{
          float: left;
          font-size: 0.24rem;
          color: rgba(121, 129, 121, 1);
          font-family: PingFangSC-Regular, sans-serif;
        }
      }
    }
  }
}