<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="option-menu" content="hide" />
    <meta name="title" content="{{title}}" />
    <meta name='description' content="{{title}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://web.bldimg.com/cblued/static/index.1d1frvp3h2au5bj.css">
    <script src="https://web.bldimg.com/cblued/static/index.1d1fs2udd1jve4v.js"></script>
  </head>
  <style>
    h2 {
      text-align: center;
      margin-top: .4rem;
      margin-bottom: .7rem;
      color: #36383B;
      font-size: .36rem;
    }
    h3 {
      margin-left: .3rem;
      font-size: .28rem;
      color: #36383B;
    }
    .first {
      margin: .3rem 0 .3rem .3rem;
      color: #757688;
      font-size: .24rem;
      line-height: 0.32rem;
    }
    .wrap {
      padding-right: .3rem;
    }
  </style>
  <body>
<div class="wrap">
  <h2>Privacy Policy</h2>
  <div class="first">
    Your privacy is important to BUBBLE and always has been.
    So we’ve developed a Privacy Policy that covers how we use and store your information.
    Please take a moment to familiarize yourself with our privacy practices
    and let us know if you have any questions.
  </div>
  <h3>Use of Personal Information</h3>
  <div class="first">
    Personal information is data that can be used to identify or contact a single person.
  </div>
  <div class="first">
    You may be asked to provide your personal information anytime you are in contact with BUBBLE
    or an BUBBLE affiliated company.
    BUBBLE and its affiliates may share this personal information with each other
    and use it consistent with this Privacy Policy.
    They may also combine it with other information to provide
    and improve our products, services, content, and advertising.
    You are not required to provide the personal information that we have requested,
    but, if you chose not to do so,
    in many cases we will not be able to provide you with our products
    or services or respond to any queries you may have.
  </div>
  <div class="first">
    Here are some examples of the types of personal information BUBBLE may collect and how we may use it:
  </div>
  <h3>What personal information we may collect</h3>
  <div class="first">
    When you create a BUBBLE ID, purchase a product,
    contact us or participate in an online survey,
    we may collect a variety of information, including your name,
    mailing address, phone number, email address, contact preferences, and other information you provide.
  </div>
  <div class="first">
    When you share your content with friends using BUBBLE products,
    or invite others to participate in BUBBLE services,
    BUBBLE may collect the information you provide about those people such as email address.
    BUBBLE will use such information to fulfill your requests,
    provide the relevant product or service, or for anti-fraud purposes.
  </div>
  <div class="first">
    In the U.S. and some countries,
    we may ask for a government issued ID in limited circumstances including
    when setting up a wireless account and activating your device,
    for the purpose of managing reservations, or as required by law.
  </div>
  <h3>How we use your personal information</h3>
  <div class="first">
    The personal information we collect allows us to keep you posted on BUBBLE’s software updates,
    and upcoming events.
    If you don’t want to be on our mailing list, you can opt out by reply the email.
    <div>
      We also use personal information for loss prevention and anti-fraud purposes.
    </div>
  </div>
  <div class="first">
    We may use your personal information,
    including date of birth,
    to verify identity, assist with identification of users,
    and to determine appropriate services.
    For example, we may use date of birth to determine the age of BUBBLE ID account holders.
  </div>
  <div class="first">
    From time to time,
    we may use your personal information to send important notices,
    such as communications about purchases and changes to our terms,
    conditions, and policies.
    Because this information is important to your interaction with BUBBLE,
    you may not opt out of receiving these communications.
  </div>
  <div class="first">
    If you enter into a sweepstake, contest,
    or similar promotion we may use the information you provide to administer those programs.
    <div>
      Collection and Use of Non-Personal Information
    </div>
  </div>
  <div class="first">
    We also collect data in a form that does not, on its own,
    permit direct association with any specific individual.
    We may collect, use, transfer,
    and disclose non-personal information for any purpose.
    The following are some examples of non-personal information that we collect and how we may use it:
  </div>
  <div class="first">
    We may collect information such as language,
    unique device identifier, location,
    and the time zone where a BUBBLE product is used so that we can improve our products,
    services, and advertising.
  </div>
  <div class="first">
    We may collect and store details of how you use our services,
    including search queries.
    This information may be used to improve the relevancy of results provided by our services.
    Except in limited instances to ensure quality of our services over the Internet,
    such information will not be associated with your IP address.
  </div>
  <div class="first">
    If we do combine non-personal information with personal information the combined information
    will be treated as personal information for as long as it remains combined.
  </div>
  <h3>Cookies and Other Technologies</h3>
  <div class="first">
    BUBBLE’s websites, online services, interactive applications, email messages,
    and advertisements may use “cookies” and other technologies.
    These technologies help us better understand user behavior,
    tell us which parts of our websites people have visited,
    and facilitate and measure the effectiveness of advertisements and web searches.
    We treat information collected by cookies and other technologies as non‑personal information.
    However, to the extent that Internet Protocol (IP) addresses
    or similar identifiers are considered personal information by local law,
    we also treat these identifiers as personal information.
    Similarly, to the extent that non-personal information is combined with personal information,
    we treat the combined information as personal information for the purposes of this Privacy Policy.
  </div>
  <div class="first">
    As is true of most internet services,
    we gather some information automatically and store it in log files.
    This information includes Internet Protocol (IP) addresses,
    browser type and language, Internet service provider (ISP),
    referring and exit websites and applications, operating system,
    date/time stamp, and clickstream data.
  </div>
  <div class="first">
    We use this information to understand and analyze trends,
    to administer the site, to learn about user behavior on the site,
    to improve our services,
    and to gather demographic information about our user base as a whole.
    BUBBLE may use this information in our marketing and advertising services.
  </div>
  <h3>Others</h3>
  <div class="first">
    It may be necessary − by law, legal process, litigation,
    and/or requests from public and governmental authorities within or outside your country of residence − for
    BUBBLE to disclose your personal information.
    We may also disclose information about you if we determine that for purposes of national security,
    law enforcement, or other issues of public importance, disclosure is necessary or appropriate.
  </div>
  <div class="first">
    We may also disclose information about you if we determine that
    disclosure is reasonably necessary to enforce our terms and conditions or protect our operations or users.
    Additionally, in the event of a reorganization, merger,
    or sale we may transfer any and all personal information we collect to the relevant third party.
  </div>
  <h3>Protection of Personal Information</h3>
  <div class="first">
    BUBBLE takes the security of your personal information very seriously.
    BUBBLE protect your personal information during transit using encryption.
    Data is stored in encrypted form including when we utilize third-party storage.
  </div>
  <div class="first">
    When you use some BUBBLE services, or applications or post on other forum, chat room,
    or social networking service,
    the personal information and content you share is visible to other users and can be read,
    collected, or used by them.
    You are responsible for the personal information you choose to share or submit in these instances.
    For example, if you list your BUBBLE ID and email address in a forum posting,
    that information is public. Please take care when using these features.
  </div>
  <div class="first">
    We may decline to process requests that are frivolous/vexatious,
    jeopardize the privacy of others, are extremely impractical,
    or for which access is not otherwise required by local law.
  </div>
  <div class="first">
    Children Children under the age of 18, or equivalent minimum age in the relevant jurisdiction,
    are not permitted to create BUBBLE IDs. This service for adults only.
  </div>
  <h3>Location-Based Services</h3>
  <div class="first">
    To provide location-based services on BUBBLE products, BUBBLE and licensees may collect, use,
    and share precise location data, including the real-time geographic location of your BUBBLE device.
    Where available, location-based services may use GPS, Bluetooth, and your IP Address,
    along with crowd-sourced Wi-Fi hotspot and cell tower locations,
    and other technologies to determine your devices’ approximate location.
    Unless you provide consent,
    this location data is collected anonymously in a form
    that does not personally identify you
    and is used by BUBBLE and our partners and licensees to provide
    and improve location-based products and services.
  </div>
  <h3>Third‑Party Sites and Services</h3>
  <div class="first">
    BUBBLE websites, applications, and services may contain links to third-party websites,
    products, and services. Information collected by third parties,
    which may include such things as location data or contact details,
    is governed by their privacy practices.
    We encourage you to learn about the privacy practices of those third parties.
  </div>
  <h3>International Users</h3>
  <div class="first">
    All the information you provide may be transferred or accessed by
    entities around the world as described in this Privacy Policy.
    BUBBLE abides by the “safe harbor” frameworks set forth by the U.S.
    <div>Our Companywide Commitment to Your Privacy </div>
    <div>
      To make sure your personal information is secure,
      we communicate our privacy and security guidelines
      to BUBBLE employees and strictly enforce privacy safeguards within the company.
    </div>
  </div>
  <h3>Privacy Questions</h3>
  <div class="first">
    If you have any questions or concerns about BUBBLE’s Privacy Policy
    or data processing or if you would like to make a complaint about a possible breach of local privacy laws,
    please contact us.
    All such communications are examined and replies issued where appropriate as soon as possible.
  </div>
  <div class="first">
    BUBBLE may update its Privacy Policy from time to time.
    When we change the policy in a material way,
    a notice will be posted on our website along with the updated Privacy Policy.
  </div>
</div>
  </body>
</html>
