.privilege-data-wrapper{
  margin-left:0.45rem;
  margin-right: 0.45rem;
}
.privilege-data-item-bar{
  position: relative;
  height: 2rem;
  width: 100%;
  //border: 0.02rem solid #E6EAED;
  border-radius: 0.2rem;
  //box-shadow: -0.02rem 0.06rem 0.06rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.28rem rgba(0, 0, 0, 0.1);

  margin-bottom: 0.4rem;
  padding:0.3rem;
  .privilege-data-item-new{
    position: absolute;
    top:0;
    left: 0;
    width: 0.76rem;
    height: 0.32rem;
    img{
      height: 0.32rem;
    }
  }
  .privilege-data-item-new-hide{
    display: none;
  }
  .privilege-data-item-bar-iconWrap{
    float: left;
    width: 1.4rem;
    height: 1.4rem;
  }
  .privilege-data-item-bar-contentWrap{
    float: left;
    margin-left: 0.3rem;
    width: 2.8rem;
    margin-top:0.2rem;
    .privilege-data-item-bar-content-title{
      font-size: 0.3rem;
      color: #2A2A2E;
      margin-bottom: 0.16rem;
      .privilege-data-item-bar-content-tip{
        position: relative;
        width:0.6rem;
        height: 0.3rem;
        margin-left:0.1rem;
        top:0.025rem;
        img{
          height: 0.3rem;
        }
      }
    }
    .privilege-data-item-bar-content-info{
      font-size: 0.24rem;
      color: #79818D;
      line-height: 0.32rem;
    }
  }
  .privilege-data-item-bar-btnWrap{
    float: right;
    margin-top:0.3rem;

    .privilege-data-item-bar-btn{
      position: relative;
      width: 1.4rem;
      height: 0.7rem;
      border:0.02rem solid #F1BE5A;
      background-color: #F1BE5A;
      border-radius: 0.36rem;
      .privilege-data-item-bar-priceWrap{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%)
      }
      .privilege-data-item-bar-priceIcon{
        font-size: 0.26rem;
        color: #815100;
        position: relative;
        top:-0.02rem;
      }
      .privilege-data-item-bar-price{
        font-size: 0.32rem;
        color: #815100;
        //padding-left: 0.26rem
      }
    }
  }
}