.feed-wrap{
  font-size: .28rem;
  .am-card-full{
    margin-bottom:.1rem;
  }
  .am-card-footer{
    font-size: .26rem;
    margin-top:.1rem;
  }

  .am-card-header-content {
    font-size: .30rem;
    img{
      width: .8rem;
      height: .8rem;
      border-radius: .1rem;
    }
  }
  .am-card-header-extra{
    font-size: .28rem;
  }
  .article-title{
    font-size:.32rem;
    margin:.2rem;
  }
  .article-centent{
    line-height: 1.5;
    white-space: pre-wrap;
  }
}